@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vh;
  }
}

@layer components {
  #navbar a {
    @apply py-7 overflow-hidden px-2 text-center hover:drop-shadow-sm duration-100;
  }

  .source {
    @apply w-full bg-gray-300 rounded-md px-4 my-1;
  }

  .key {
    @apply w-1/35 h-full bg-white border-black border-y-2 border-x-1 relative
  }

  .sharp-key {
    @apply absolute -right-1 md:-right-2 h-2/3 w-2 md:w-4 bg-black z-40
  }
}
